# 3DC's DDW Clinic

Part of SUTD Google DSC's Data Driven World Clinics 2022 for SUTD Students.


Exercises by Thao Vy Dinh

Notebook by Beckham Wee

References: Quantopian Lecture Series, pandas documentation

Dataset: Dr Ernest Chan

## Introduction to Pandas
pandas is a python library that provides tools to better manage data. We will be covering 'DataFrame' and 'Series' objects, both of which help in the process. This allows us to conduct statistical inferences/machine learning/data science much more easily.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Series
A pandas `Series` is a 1-dimensional array with labels that can contain any data type.

#### Creating a `Series` 
as easy as calling `pandas.Series()` on a Python list or NumPy array.

In [2]:
# Called on a list or ndarray

#### Series' name
Every `Series` has a name. We can give the series a name as a parameter or we can define it afterwards by directly accessing the name attribute. For now, we haven't given our series a name.

This name can be directly set (via their own setter method!)

#### Index
We call the collected axis labels of a `Series` its index. An index can either passed to a `Series` as a parameter or added later. 
- If we didn't set it, a `Series` will simply contain an index composed of integers, starting at $0$.

We can set the index manually, again via their own setter method.

## DataFrames

`DataFrames` are 2-dimensional objects, unlike `Series` which are 1-dimensional. In other words, DataFrames have more than one column.
- Each `DataFrame` has an index and a columns attribute
- The index attribute is the same as the index of a `Series`
- Columns allow us to combine named columns (all `Series`), into a cohesive object. They will share the index.

#### Creating DataFrames

We can create a `DataFrame` by calling `pandas.DataFrame()` on a dictionary or NumPy `ndarray`. We can also concatenate a group of pandas `Series` into a `DataFrame` using `pandas.concat()`.

In [3]:
# Dictionary
dict_data = {
    'a' : [1, 2, 3, 4, 5],
    'b' : ['A', 'B', 'C', 'D', 'E'],
    'c' : ['3', 'D', 'C', 'IS', 'COOL']
}

We can also set the index directly.

In [4]:
# Method 1: Creating DataFrame using dictionaries or nparrays

By concatenating, we have to specificy an axis.

- `axis = 0` implies that we are adding the other Series as a row.
- `axis = 1` implies that we are applying this operation to the columns.

This is widely global for all methods in pandas.

In [5]:
# Method 2: Creating by combining series

#### DataFrame Columns
Each `DataFrame` also has a `columns` attribute. These can either be assigned when we call `pandas.DataFrame` or they can be set.
- However, `using pd.concat()` basically sets the names for you.

In [6]:
# Can modify columns names just like that using a list

#### Indexing
Refer to Series' indexing. Every column in a DataFrame shares the same index.

#### HACKS: Getting the values out FAST
You'll only know this if you attended the clinic

In [7]:
# numbers.values returns a np array

#### Accessing elements in DataFrame
In the real world, we need to be using DataFrames to get data, or manipulate them. Here's a practical example of stock data.

In [8]:
# Reading data here from excel
PEP = pd.read_excel('PEP.xls')
PEP.set_index('Date', inplace=True)

PEP.sort_index(inplace=True)

In [9]:
PEP

             Open   High    Low  Close    Volume  Adj Close
Date
1977-01-03  79.00  80.13  79.00  80.00   1085400       0.66
1977-01-04  80.00  80.25  78.88  79.00   3018600       0.65
1977-01-05  78.75  78.75  77.88  78.38   2246400       0.65
1977-01-06  78.63  79.00  78.63  78.75   1004400       0.65
1977-01-07  78.75  78.75  78.25  78.50    950400       0.65
...           ...    ...    ...    ...       ...        ...
2008-01-14  78.25  78.39  76.65  76.92   7762500      76.92
2008-01-15  76.02  76.55  74.71  74.83   9342100      74.83
2008-01-16  74.35  74.85  73.28  73.54   9636900      73.54
2008-01-17  73.70  73.70  71.84  72.10  10016800      72.10
2008-01-18  72.54  73.16  70.95  71.46   8986000      71.46

[7835 rows x 6 columns]

That's a lot of data... sometimes we just need a small segment of that.

We can do this either by directly accessing the attributes or by using `.iloc[]` and `.loc[]`.
- They both take in indices for row and columns

#### Method 1: iloc
Let's look at `iloc[]` first. It's used when we are only using INTEGER INDICES, just like an array. For example, we want to rows 1 to 50, as well as columns `Close` and `Volume`
- Rows 1 to 10 will be represented as `0:10`
- Close has an index of 3, Volume has an index of 4, hence `3:5`

To get all rows, but only specific columns, we can just leave the row index as `:`
- we can do the same thing for columns

#### Method 2: loc
Lets look at `.loc[]` next. This is a special indexing method, whereby we can slice by column/row name, or even by boolean indexing.

Lets try to get similar data to above, but using loc instead.
- Rows are `1997-01-03` to `1997-01-14`
- Columns are `Close` and `Volume`

In [10]:
# Using integers

Want more specific columns? We can store column names and put them in an array, before using them in loc

#### Boolean Indexing
Sometimes, a small segment of data is great. But if you really want to get specific, we can use booleans in `.loc[]` to get VERY specific data, instead of just getting attributes via rows and columns.

For example, lets first get the data for the year 2000.

We want to know the closing prices for the PEP stock on days whereby there is high volume. This is where boolean indexing comes in.

In [11]:
# By leaving columns only with a ':', we get all columns in the data
# As long as it fits our boolean

## Common Operations that I think will help you with projects
Quick hacks that only you would know if you came here t

#### 1. mean
`.mean(axis)`
- axis=1 implies that we are finding the mean of a row
- axis=0 implies that we are finding the mean of a column

In [12]:
# Mean by row

Now lets find the mean by columns. In other words, this is the average price of PEP stock and average volume in the year 2000

In [13]:
# Mean by column

#### 2. standard deviation
`.std(axis)`

Here we can get the standard deviation of a stock by columns. The standard deviation of a closing price also indicates its volatility!

#### 3. Correlation Coefficient

#### 4. Describing data

#### 5. Deleting a column

# END.
We hope that you've taken away some new knowledge today! To learn more about pandas, refer to the pandas documentation:
https://pandas.pydata.org/docs/